.DS_Store
.gitignore
node_modules
public
!public/CNAME
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
"FETCH_HEAD" 
"git" 
"nulecho" 
"pc_pull.log" 
"FETCH_HEAD" 
"git" 
"nulecho" 
"pc_pull.log" 

.claude/
content/.claude/
*.canvas
*.excalidraw
content/Excalidraw/
