.DS_Store
.gitignore
node_modules
public
!public/CNAME
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

# 坚果云同步临时文件
*.nutstore-sync-*
*.nutstore-sync-*.download

"FETCH_HEAD" 
"git" 
"nulecho" 
"pc_pull.log" 
"FETCH_HEAD" 
"git" 
"nulecho" 
"pc_pull.log" 

.claude/
content/.claude/
*.canvas
*.excalidraw
content/Excalidraw/
